@charset "UTF-8";
/*MAPS*/
/*VARIABLES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Barra Navegación*/
header {
  display: flex;
  justify-content: space-between;
}
header nav {
  display: flex;
  padding-top: 50px;
}

.menu ul {
  display: flex;
  margin-right: 200px;
  list-style: none;
}
.menu ul li a {
  color: #d8c67c;
  display: block;
  padding: 8px;
  text-decoration: none;
}
.menu ul li a:hover {
  color: #2b2d42;
  transition: all 0.7s ease;
  -webkit-text-decoration-color: #2b2d42;
          text-decoration-color: #2b2d42;
}

/*INICIO*/
.alert {
  text-align: center;
}

.inicio {
  display: flex;
  padding: 0 40px;
  margin: 10px;
  justify-items: center;
  align-items: center;
}
.inicio .inicio__img {
  width: 35%;
  height: 35%;
  margin-top: 100px;
  margin-left: 10px;
}
.inicio .inicio__parrafo {
  font-size: 16px;
  margin-left: 100px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.inicio a {
  position: absolute;
  top: 60%;
  left: 59%;
  border: none;
  outline: 0;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 15px;
  color: white;
  font-weight: bold;
  background-color: #d8c67c;
  cursor: pointer;
  width: 10%;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
}
.inicio a:hover {
  background-color: #2b2d42;
}

/*Sección Consumos*/
.consumo {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding-top: 300px;
  margin: 30px;
  align-items: center;
}
.consumo .consumo__titulo {
  font-size: 40px;
}
.consumo .consumo__parrafo {
  margin-top: 70px;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 80px;
}
.consumo .consumo__imagen {
  width: 100%;
  height: 100%;
}

/*SECCION MESAS*/
.contenedorMesasTomadas h4 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  margin-top: 150px;
}
.contenedorMesasTomadas .mesasTomadas__img {
  width: 30%;
  height: 30%;
  margin-top: 100px;
  margin-left: 500px;
}

.mesasTomadas {
  display: flex;
  margin-top: 100px;
  margin-left: 200px;
}
.mesasTomadas .mesa {
  max-height: 400px;
  margin: 10px;
  background-color: #2b2d42;
  color: white;
  padding: 100px;
  border-radius: 10px;
}
.mesasTomadas .mesa button {
  border-radius: 5px;
}

.modal-content .modal-header .modal-title {
  color: #2b2d42;
  margin: 30px;
  margin-left: 180px;
  font-size: 25px;
  letter-spacing: 3px;
}

.modal-body ul li {
  list-style: none;
}

.modal-footer button {
  border-radius: 5px;
}

/*Sección Reseñas*/
.contenedorReseñas {
  display: flex;
  margin-bottom: 90px;
}
.contenedorReseñas h4 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: -100px;
}

.reseñas {
  display: flex;
  height: 70vh;
  justify-content: space-evenly;
  padding: 0 40px;
  margin: 10px;
  align-items: center;
  border-radius: 5px;
}
.reseñas .reseña__titulo {
  font-size: 40px;
  letter-spacing: 5px;
}
.reseñas .reseña__parrafo {
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 25px;
}
.reseñas .reseña__imagen {
  width: 35%;
  height: 35%;
}

/***************************************FIN INDEX*/
/*CARDS COMIDAS*/
.seccionCard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-around;
}

.cardComida {
  margin: 10px;
  margin-bottom: 50px;
  padding-top: 30px;
  max-width: 310px;
  box-shadow: 0 4px 10px 0 rgba(44, 45, 46, 0.6);
  text-align: center;
  border-radius: 25px;
  /***********************************MAPS*****************************/
}
.cardComida button {
  border: none;
  outline: 0;
  padding: 15px;
  margin: 20px;
  color: white;
  font-weight: bold;
  background-color: #d8c67c;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 10px;
}
.cardComida .cardComida__imagenFideos {
  width: 40%;
}
.cardComida .cardComida__imagen {
  width: 40%;
}
.cardComida .cardComida__titulo {
  padding-top: 20px;
  font-size: 25px;
  letter-spacing: 3px;
}
.cardComida .cardComida__precio {
  color: #2b2d42;
  font-size: 16px;
  padding-top: 20px;
}
.cardComida .cardComida__detalle {
  padding: 15px;
  line-height: 25px;
}
.cardComida ul li {
  list-style: none;
}
.cardComida button:hover {
  background-color: #2b2d42;
}

.cardComida:hover {
  transform: translateY(-40px);
  transition: 1s;
}

/**************CARDS BEBIDAS*/
.seccionCardBebidas {
  display: grid;
  margin-top: 50px;
  /*al padre*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, fr);
  justify-items: center;
}
.seccionCardBebidas .cardBebidas {
  margin: 10px;
  margin-bottom: 50px;
  padding-top: 20px;
  max-width: 380px;
  box-shadow: 0 4px 10px 0 rgba(44, 45, 46, 0.6);
  text-align: center;
  border-radius: 25px;
  /*MAPS*/
}
.seccionCardBebidas .cardBebidas .cardBebidas__imagen {
  margin-top: 10px;
  width: 30%;
}
.seccionCardBebidas .cardBebidas .cardBebidas__imagenSprite {
  margin-top: 10px;
  width: 80%;
}
.seccionCardBebidas .cardBebidas .cardBebidas__imagenStella {
  margin-top: 10px;
  width: 70%;
}
.seccionCardBebidas .cardBebidas .cardBebidas__imagenNegra {
  width: 46%;
}
.seccionCardBebidas .cardBebidas .cardBebidas__imagenRubia {
  width: 60%;
}
.seccionCardBebidas .cardBebidas .cardBebidas__imagenIpaLata {
  width: 26%;
}
.seccionCardBebidas .cardBebidas .cardBebidas__imagenRubiaLitro {
  width: 17.5%;
}
.seccionCardBebidas .cardBebidas .cardBebidas__imagenStella {
  width: 59%;
}
.seccionCardBebidas .cardBebidas .cardBebidas__imagenCocaCola {
  width: 63%;
}
.seccionCardBebidas .cardBebidas .cardBebidas__titulo {
  padding-top: 20px;
  font-size: 25px;
  letter-spacing: 3px;
}
.seccionCardBebidas .cardBebidas .cardBebidas__precio {
  color: #2b2d42;
  font-size: 20px;
  padding-top: 10px;
}
.seccionCardBebidas .cardBebidas .cardBebidas__detalle {
  font-size: 13px;
  padding: 15px;
}
.seccionCardBebidas .cardBebidas .cardBebidas p {
  padding-bottom: 20px;
}
.seccionCardBebidas button {
  border: none;
  outline: 0;
  padding: 15px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  background-color: #d8c67c;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 10px;
}
.seccionCardBebidas button:hover {
  background-color: #2b2d42;
}

.cardBebidas:hover {
  transform: translateY(-40px);
  transition: 1s;
}

/*Promos*/
#carouselExampleDark {
  margin-top: 50px;
  padding-bottom: 100px;
}

.carousel-caption h5 {
  margin-left: 600px;
  margin-bottom: 110px;
  font-size: 35px;
  color: #d8c67c;
  letter-spacing: 3px;
}
.carousel-caption p {
  margin-top: -20px;
  margin-left: 600px;
  text-align: center;
  font-size: 16px;
  color: #2b2d42;
  letter-spacing: 3px;
}

/****************LO MAS PEDIDO*/
.card {
  margin: 25px;
}
.card img {
  height: 100%;
  width: 100%;
}
.card .card-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

/*FORMULARIO*/
.formularioCaja {
  display: flex;
  /*margin-left: 250px;
  */
  margin-bottom: 150px;
}
.formularioCaja input:focus,
.formularioCaja input[type]:focus {
  border-color: #2b2d42;
  outline: 0 none;
}
.formularioCaja h2 {
  text-align: center;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #d8c67c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 60px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/*FOOTER*/
footer {
  background-color: #2b2d42;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}
footer p {
  color: #d4dfca;
  font-size: 20px;
}

/**********************************MEDIA QUERIES**********************************/
/*TABLET*/
/*Celular*/
@media only screen and (max-width: 576px) {
  /*Estilos generales*/
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header img {
    height: 100%;
    width: 100%;
    margin-top: 20px;
  }
  /*INDEX*/
  .menu ul {
    margin: -20px;
  }
  .inicio {
    flex-direction: column;
  }
  .contenedorInicio {
    margin-top: -50px;
  }
  .contenedorInicio .inicio__img {
    width: 100%;
  }
  .contenedorInicio .inicio__parrafo {
    font-size: 20px;
    margin: 50px;
    padding-top: 50px;
  }
  .contenedorInicio a {
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
  }
  /*MESAS*/
  .contenedorMesasTomadas .mesasTomadas__img {
    margin-left: 80px;
    width: 70%;
    height: 70%;
  }
  .contenedorMesasTomadas .mesa p {
    text-align: center;
  }
  .mesasTomadas {
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .modal-content .modal-header .modal-title {
    margin: 15px;
    margin-left: 125px;
    font-size: 30px;
    letter-spacing: 3px;
  }
  .modal-body ul li {
    font-size: 20px;
    list-style: none;
  }
  /*RESEÑAS**/
  .reseñas {
    flex-direction: column;
    padding-top: 50px;
    margin-top: 100px;
  }
  .reseñas .reseña__parrafo {
    font-size: 10px;
  }
  .reseña__imagen {
    width: 100%;
    height: 100%;
  }
  /*CARD BEBIDAS*/
  .seccionCardBebidas {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 50px;
  }
  .seccionCardBebidas .cardBebidas {
    max-width: 380px;
    padding: 40px;
  }
  .seccionCardBebidas .cardBebidas .cardBebidas__imagen {
    width: 30%;
  }
  .seccionCardBebidas .cardBebidas button {
    margin-bottom: 30px;
  }
  /*CARD COMIDAS*/
  .seccionCard {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .seccionCard .cardComida {
    max-width: 380px;
    padding: 40px;
  }
  .seccionCard .cardComida__imagen {
    width: 50%;
  }
  .seccionCard .cardComida__imagenFideos {
    width: 85%;
    margin-left: 20px;
  }
  /*PROMOS*/
  .carousel {
    margin-top: 100px;
  }
  .carousel-caption h5 {
    font-size: 10px;
    color: #d8c67c;
    letter-spacing: 3px;
  }
  .carousel-caption h5 p {
    text-align: center;
    font-size: 5px;
    color: #2b2d42;
    letter-spacing: 3px;
  }
}