@import "colors";
@import "fonts";

/*MAPS*/

$estilosDetalleCards:(

 
  medida1:20px,
  tFuente:25px,
  espaciosLetra:3px


);



/*VARIABLES*/
$color1: #2b2d42;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font_principal;
}

html {
  scroll-behavior: smooth;
}

/*Barra Navegación*/

header {
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;

    padding-top: 50px;
  }
}

.menu {
  ul {
    display: flex;
    margin-right: 200px;
    list-style: none;

    li {
      a {
        @if ($color_principal1==red) {
          color: red;
        } @else if ($color_principal1==#d8c67c) {
          color: $color_principal1;
        }

        display: block;
        padding: 8px;
        text-decoration: none;
      }

      a:hover {
        color: $color1;
        transition: all 0.7s ease;
        text-decoration-color: $color1;
      }
    }
  }
}

/*INICIO*/

.alert {
  text-align: center;
}

.inicio {
  display: flex;
  padding: 0 40px;
  margin: 10px;
  justify-items: center;
  align-items: center;

  .inicio__img {
    width: 35%;
    height: 35%;
    margin-top: 100px;
    margin-left: 10px;
  }

  .inicio__parrafo {
    font-size: 16px;
    margin-left: 100px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  a {
    position: absolute;
    top: 60%;
    left: 62%;
    border: none;
    outline: 0;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 15px;
    color: white;
    font-weight: bold;
    background-color: $color_principal1;
    cursor: pointer;
    width: 10%;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
  }

  a:hover {
    background-color: $color1;
  }
}

/*Sección Consumos*/
.consumo {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding-top: 300px;
  margin: 30px;
  align-items: center;

  .consumo__titulo {
    font-size: 40px;
  }

  .consumo__parrafo {
    margin-top: 70px;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 80px;
  }

  .consumo__imagen {
    width: 100%;
    height: 100%;
  }
}

/*SECCION MESAS*/
.contenedorMesasTomadas {
  h4 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: 150px;
  }
  .mesasTomadas__img {
    width: 30%;
    height: 30%;
    margin-top: 100px;
    margin-left: 500px;
  }
}

.mesasTomadas {
  display: flex;
  margin-top: 100px;
  margin-left: 200px;

  /*****************************************EXTEND********/
  button {
    @extend  .cardBebidas;
    margin-top: -70px;
    border-radius: 5px;
  

  
   
  }

  .mesa {
    max-height: 10px;
    margin: 10px;
    background-color: #2b2d42;
    color: white;
    padding: 100px;
    border-radius: 10px;

  

   

   

  
    
  }
}

/*Sección Reseñas*/

.contenedorReseñas {
  display: flex;
  margin-bottom: 90px;

  h4 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: -100px;
  }
}

.reseñas {
  display: flex;
  height: 70vh;
  justify-content: space-evenly;
  padding: 0 40px;
  margin: 10px;
  align-items: center;
  border-radius: 5px;

  .reseña__titulo {
    font-size: 40px;
    letter-spacing: 5px;
  }

  .reseña__parrafo {
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 25px;
  }

  .reseña__imagen {
    width: 35%;
    height: 35%;
  }
}

/***************************************FIN INDEX*/

/*CARDS COMIDAS*/
.seccionCard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-around;
}

.cardComida {
  margin: 10px;
  margin-bottom: 50px;
  padding-top: 30px;
  max-width: 310px;
  box-shadow: 0 4px 10px 0 rgba(44, 45, 46, 0.6);
  text-align: center;
  border-radius: 25px;

  button {
    border: none;
    outline: 0;
    padding: 15px;
    margin: 20px;
    color: white;
    font-weight: bold;
    background-color: $color_principal1;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
  }

  .cardComida__imagen {
    width: 40%;
  }

  /***********************************MAPS*****************************/
  .cardComida__titulo {
    padding-top: map-get($map: $estilosDetalleCards, $key: medida1);
    font-size: map-get($map: $estilosDetalleCards, $key: tFuente);
    letter-spacing: map-get($map: $estilosDetalleCards, $key: espaciosLetra);
  }

  .cardComida__precio {
    color: $color1;
    font-size: 16px;
    padding-top: 20px;
  }

  .cardComida__detalle {
    padding: 15px;
    line-height: 25px;
  }

  ul {
    li {
      list-style: none;
    }
  }

 

  button:hover {
    background-color: $color1;
  }
}

.cardComida:hover {
  transform: translateY(-40px);
  transition: 1s;
}

/**************CARDS BEBIDAS*/

.seccionCardBebidas {
  display: grid;
  margin-top: 50px;
  /*al padre*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, fr);
  justify-items: center;

  .cardBebidas {
    margin: 10px;
    margin-bottom: 50px;
    padding-top: 20px;
    max-width: 350px;
    box-shadow: 0 4px 10px 0 rgba(44, 45, 46, 0.6);
    text-align: center;
    border-radius: 25px;

    .cardBebidas__imagen {
      margin-top: 10px;
      width: 30%;
    }
    .cardBebidas__imagenSprite {
      margin-top: 10px;
      width: 80%;
    }

    .cardBebidas__imagenStella {
      margin-top: 10px;
      width: 70%;
    }

    .cardBebidas__imagenNegra{
     
      width: 46%;

    }
    .cardBebidas__imagenRubia{
      width: 60%;
    }

    .cardBebidas__imagenIpaLata{
      width: 26%;
    }  
    .cardBebidas__imagenRubiaLitro{
      width: 17.5%;
    }
    .cardBebidas__imagenStella{
      width: 59%;
    }
    .cardBebidas__imagenCocaCola{
      width: 63%;
    }
      /*MAPS*/

    .cardBebidas__titulo {
      padding-top: map-get($map: $estilosDetalleCards, $key: medida1);
      font-size: map-get($map: $estilosDetalleCards, $key: tFuente);
      letter-spacing: map-get($map: $estilosDetalleCards, $key: espaciosLetra);

    
    }
 

    .cardBebidas__precio {
      color: $color1;
      font-size: 20px;
      padding-top: 10px;
    }

   

    .cardBebidas__detalle {
      font-size: 13px;
      padding: 15px;
    }

    .cardBebidas p {
      padding-bottom: 20px;
    }
  }
  button {
    border: none;
    outline: 0;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    background-color: $color_principal1;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
  }
  button:hover {
    background-color: $color1;
  }
}

.cardBebidas:hover {
  transform: translateY(-40px);
  transition: 1s;
}

/*Promos*/

#carouselExampleDark {
  margin-top: 50px;
  padding-bottom: 100px;
}

.carousel-caption {
  h5 {
    margin-left: 600px;
    margin-bottom: 110px;
    font-size: 35px;
    color: $color_principal1;
    letter-spacing: 3px;
  }
  p {
    margin-top: -20px;
    margin-left: 600px;
    text-align: center;
    font-size: 16px;
    color: $color1;
    letter-spacing: 3px;
  }
}

/****************LO MAS PEDIDO*/

.card {
  margin: 25px;
  img {
    height: 100%;
    width: 100%;
  }
  .card-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

/*FORMULARIO*/

.formularioCaja {
  display: flex;
  /*margin-left: 250px;
  */
  margin-bottom: 150px;

  input:focus,
  input[type]:focus {
    border-color: $color1;
    outline: 0 none;
  }

  h2 {
    text-align: center;
  }
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: $color_principal1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}



img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 60px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/*FOOTER*/

footer {
  background-color: $color1;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;

  p {
    color: #d4dfca;
    font-size: 20px;
  }
}

/**********************************MEDIA QUERIES**********************************/

/*TABLET*/
@media only screen and (max-width: 768px) {
}

/*Celular*/

@media only screen and (max-width: 576px) {
  /*Estilos generales*/

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header img {
    height: 100%;
    width: 100%;
    margin-top: 20px;
  }

  /*INDEX*/

  .menu ul {
    margin: -20px;
  }

  .inicio {
    flex-direction: column;
  }

  .contenedorInicio {
    margin-top: -50px;

    .inicio__img {
      width: 100%;
    }

    .inicio__parrafo {
      font-size: 16px;
      margin-right: 60px;
      padding-top: 50px;
      text-align: center;
    }
  }

  .contenedorInicio a {
    position: absolute;
    top: 100%;
    left: 28%;
    width: 50%;
  }

  /*MESAS*/

  .contenedorMesasTomadas {
    .mesasTomadas__img {
      margin-left: 80px;

      width: 70%;
      height: 70%;
    }
    .mesa {
      p {
        text-align: center;
      }
    }
  }

  .mesasTomadas {
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  /*RESEÑAS**/

  .reseñas {
    flex-direction: column;
    padding-top: 50px;
    margin-top: 100px;

    .reseña__parrafo {
      font-size: 10px;
    }
  }

  .reseña__imagen {
    width: 100%;
    height: 100%;
  }

  /*CARD BEBIDAS*/

  .seccionCardBebidas {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 50px;

   
  
  }

  .cardBebidas{

    button{
      margin-bottom: 30px;
    }
  }


  /*CARD COMIDAS*/
  .seccionCard {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
   
 

   
  }

  .cardComida{
    max-width:  350px;
  }


  /*PROMOS*/

  .carousel {
    margin-top: 100px;
  }

  .carousel-caption {
    h5 {
      font-size: 10px;
      color: $color_principal1;
      letter-spacing: 3px;

      p {
        text-align: center;
        font-size: 5px;
        color: $color1;
        letter-spacing: 3px;
      }
    }
  }
}
