* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;


}


html {
    scroll-behavior: smooth;
}

/*
.aviso {
    background-color: #2B2D42;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;

}

.aviso p {

    padding: 20px;
    text-align: center;
    color: #F7F2F0;
    font-size: 30px;
}*/




/*Barra Navegación*/

header{
    display: flex;
    justify-content: space-between;
 

}

nav {

    display: flex;
    justify-content: flex-end;
    padding-top: 50px;

}



.menu ul {
    display: flex;
    list-style: none;
    padding-right: 40px;

}


.menu ul li a {
    color: #d8c67c;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.menu ul li a:hover {

    color: #2b2d42;
    transition: all 0.7s ease;
    text-decoration-color: #2b2d42;


}

.contenedorInicio .inicio{
 
    display: flex;
    padding: 0 40px;
    margin: 10px;
    justify-items: center;
    align-items: center;
}




.inicio__img {

    width: 50%;
    height: 50%;
    margin-top: 130px;
    margin-left: 10px;
}



.inicio__parrafo {

    font-size: 15px;
    margin-left: 70px;
    margin-top: 150px;
    letter-spacing: 4px;
    text-transform: uppercase;

}


.inicio a {
    position: absolute;
    top: 80%;
    left: 70%;
    border: none;
    outline: 0;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 15px;
    color: white;
    font-weight: bold;
    background-color: #d8c67c;
    cursor: pointer;
    width: 10%;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;


}



.inicio a:hover {
    background-color: #2b2d42;


}


/*Sección Video*/
 /*.contenedorVideo .video {
   
   display: grid; 
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,fr);
    justify-items: center;

    
    padding: 0 40px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}
*/
/*Sección Consumos*/
.contenedorConsumo .consumo {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 300px;
    margin: 30px;
    align-items: center;
  
}

.tituloConsumo{
    text-align: center;
   
   
}

.consumo__titulo {
    font-size: 40px;
}

.consumo__parrafo {
    margin-top: 70px;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 80px;
}

.consumo__imagen {

    width: 100%;
    height:100%;
  
}

/*Sección Reseñas*/

.contenedorReseñas{
    display: flex;
    margin-bottom: 90px;
}
h4{
   
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: -100px;
}
.reseña__titulo{
   
font-size: 40px;
letter-spacing: 5px;


}
.reseñas {

   
    display: flex;
    height: 70vh;
    justify-content: space-evenly;
    padding: 0 40px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}

.reseña__parrafo {

    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 25px;
   
}

.reseña__imagen{

    width: 35%;
    height:35%;
}

/***************************************FIN INDEX*/

/*CARDS COMIDAS*/
.seccionCard {
display: flex;
flex-wrap: wrap;
justify-content: space-around;


}

.card {
    
    margin: 10px;
    margin-bottom: 50px;
    padding-top: 30px;
    max-width: 300px;
    box-shadow: 0 4px 10px 0 rgba(44, 45, 46, 0.6);
    text-align: center;
    border-radius: 25px;


}

.card:hover {
    transform: translateY(-40px);
    transition: 1s;
}



.card__imagen {
    width: 60%;
 
}

.card__titulo {
    font-size: 25px;
    letter-spacing: 5px;
}

.card__precio {
    color: #2b2d42;
    font-size: 20px;
    padding-top: 20px;
}

.card__detalle {
    padding: 15px;
    line-height: 25px;
}



.card ul li {

    list-style: none;


}


.card button {
    border: none;
    outline: 0;
    padding: 15px;
    margin: 20px;
    color: white;
    font-weight: bold;
    background-color: #d8c67c;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
}

.card button:hover {
    background-color: #2b2d42;
}

.seccionComida__titulo {
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}


/*CARDS BEBIDAS*/

.seccionCardBebidas {
   
    display: grid; /*al padre*/
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,fr);
    justify-items: center;
    

}

.cardBebidas {
   
    margin: 10px;
    margin-bottom: 50px;
    padding-top: 30px;
    max-width: 300px;
    box-shadow: 0 4px 10px 0 rgba(44, 45, 46, 0.6);
    text-align: center;
    border-radius: 25px;

}

.cardBebidas:hover {


    transform: translateY(-40px);
    transition: 1s;
}


.cardBebidas__imagen {
    width: 25%;
    height: 25%;
}

.cardBebidas__titulo {
    font-size: 25px;
    letter-spacing: 5px;
}

.cardBebidas__precio {
    color: #2b2d42;
    font-size: 20px;
    padding-top: 20px;
}

.cardBebidas__detalle {
    padding: 25px;
}

.cardBebidas button {
    border: none;
    outline: 0;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    background-color: #d8c67c;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
}

.cardBebidas button:hover {
    background-color: #2b2d42;
}








/*Seccion Lo Más Pedido*/


.loMasPedido {
    margin-top: 40px;
    margin-left: 270px;

}



/*Comida mas pedida*/

.articulo_masPedido {
    display: inline-block;
    margin: 10px;
    padding-top: 30px;
    max-width: 370px;
    box-shadow: 0 4px 10px 0 rgba(44, 45, 46, 0.6);
    text-align: center;
    border-radius: 5px;
}


.articulo_masPedido__imagen {
    width: 40%;
}

.articulo_masPedido__titulo {
    font-size: 35px;
    padding: 40px;

}

.articulo_masPedido__nombre {

    margin-top: 10px;

}

.articulo_masPedido__subNombre {
    margin-top: 10px;
}

.articulo_masPedido__detalle {

    margin: 40px;
}








/*BEBIDAS*/
.bebidas {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}

.bebidas__titulo {

    font-size: 40px;
}

.bebidas__tituloParrafo {
    font-size: 30px;
    margin: 50px;

}

.bebidas__imagen {
    width: 15%;
}


.bebidas__boton {

    padding: 10px 15px;
    background-color: #d8c67c;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    border: none;
    font-weight: bold;
}


/*PROMOS*/

.promos {

    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}

.promos__titulo {
    text-align: center;
}

.promos__parrafo {
    margin: 50px;
    margin-left: 45px;
    padding: 60px;
    font-size: 20px;
}

.promos__imagen {
    width: 40%;
    margin-bottom: 150px;
}


/*PROMO CON GRID*/




/*SECCIÓN HORARIO*/

.firmaHorario .form__horario {

    height: 86vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}

.firmaHorario {
    border-radius: 5px;
    margin: 10px;
}



.form__imagen {
    width: 50%;
}

.form__boton1 {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #d8c67c;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    border: none;
}

.form__boton2 {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #d8c67c;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    border: none;
}



/*Metodolia Bem*/
.contenedor {
    max-width: 500px;
    width: 100%;
    margin-left: 15px;

}

/*Bloque 1*/

.caja {
    width: 600px
}

.caja_enlace {
    height: 200px;
}

.caja__imagen {

    width: 40%;


}

.caja__textos {

    font-size: 16px;
    margin-bottom: 10px;

}

.caja__titulo {
    font-size: 25px;
}

.caja__parrafo {

    letter-spacing: 1px;
    line-height: 25px;
    max-width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.boton {
    padding: 10px 15px;
    margin-bottom: 100px;
    background-color: #d8c67c;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}

.boton--alternativo {
    margin-top: 15px;
    font-size: 20px;

    border: none;
}


/*FOOTER*/

footer {
    background-color: #2B2D42;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;


}


footer p {
    color: #D4DFCA;
    font-size: 20px;
}


/**********************************MEDIA QUERIES**********************************/

/*TABLET*/
@media only screen and  (max-width:768px){

    

}
    

/*Celular*/

@media only screen and  (max-width:576px){

/*Estilos generales*/



header{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*INDEX*/


 .inicio{
    flex-direction: column;

   
}

.inicio__parrafo{
   margin-top: 50px;
   text-align: center;

}

.contenedorInicio a{

    margin-top: 120px;
    margin-left: -150px;
    width: 70%;
   
   
}

.inicio__img{
    width: 100%;
    height: 100%;
}

/*CONSUMO*/

.consumo{
    flex-direction: column;
}

.consumo__parrafo{
    margin-top: -75px;
}

/*RESEÑAS**/

.reseñas{
    flex-direction: column;
    margin-top: 250px;
}

.reseña__imagen{
    
    width: 100%;
    height: 100%;
}



/*CARD BEBIDAS*/

.seccionCardBebidas{
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 50px;
  
}

.cardBebidas{
    max-width: 360px;
}

/*CARD COMIDAS*/
.seccionCard{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}
.card{
    max-width: 450px;
}

/*Index*/



}
    
